{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<style>
    .contt {
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: whitesmoke;
    }

    .display-5 {
        color: #627084;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 0 0 1.777777778em;
        transition: color 0.45s ease;
    }

    .data-card:hover h1 {
        color: #008080;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="../../static/js/currency.js"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 22rem;" id="results">
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body data-card">
                    <h1 class="heading display-5 pb-3">Balance Enquiry</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="POST" id="BalanceEnquiry">
                                {% csrf_token %}
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <label for="" class="form-label">Loan</label>
                                        <select class="form-select" name="loanNo" id="loanNo" required>
                                            <option value="0" disabled selected>--Select Loan--</option>
                                            {% for res in loans %}
                                            <option value="{{res.Loan_Number}}">{{res.Loan_Number}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-dark btn-block my-2" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-dark">
                                        Outstanding Balance (KES)
                                    </h6>
                                    <h1 class="text-primary" id="proOutput" style="font-size: 1.7rem;">
                                        0.00
                                    </h1>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-dark">
                                        Outstanding Interest (KES)
                                    </h6>

                                    <h1 class="text-primary" id="proOutput2" style="font-size: 1.7rem;">
                                        0.00
                                    </h1>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <h6 class="text-dark">
                                        Next Due Date
                                    </h6>
                                    <h1 class="text-primary" id="proOutput3" style="font-size: 1.7rem;">
                                        0.00
                                    </h1>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-dark">
                                        Amount Payable (KES)
                                    </h6>
                                    <h1 class="text-primary" id="proOutput4" style="font-size: 1.7rem;">
                                        0.00
                                    </h1>
                                </div>
                            </div>
                            <div class="money-spinner" id="money-spinner" style="display: none;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                                    alt="Loading Gif" style="height: 100px;" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).on('submit', '#BalanceEnquiry', function (e) {
        e.preventDefault();
        $('#money-spinner').show();
        $.ajax({
            type: 'POST',
            url: '{% url "BalanceEnquiry" %}',
            data: {
                loanNo: $("#loanNo").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                $("#loanNo").val("");
                $("#proOutput").empty().append(currency(response['outstandingBalance'], {
                    separator: ','
                }).format());
                $("#proOutput2").empty().append(currency(response['outstandingInterest'], {
                    separator: ','
                }).format());
                $("#proOutput3").empty().append(response['dueDate']);
                $("#proOutput4").empty().append(currency(response['amountPayable'], {
                    separator: ','
                }).format());
                $('#money-spinner').hide();
            }
        })
    });
</script>
{% endblock %}