{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3">Appointments</h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                        data-bs-target="#appointmentsModal"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                            class="las la-plus text-white" style="font-size:15px;"></i> Create Appointment</button>
                </span>

            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#openApp" class="nav-link active" data-bs-toggle="tab">Pending Confirmation
                                    ({{countOpen}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#app" class="nav-link" data-bs-toggle="tab">Approved
                                    ({{0}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#rejApp" class="nav-link" data-bs-toggle="tab">Rejected
                                    ({{0}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="openApp">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Appointment No</th>
                                                <th>Date Created</th>
                                                <th>Appointment Date & Time</th>
                                                <th>RM Name</th>
                                                <th>Appointment Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in appoint %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date_Created}}</td>
                                                <td id="rap">{{res.Appointment_Date}} at <span
                                                        class="text-primary">{{res.Appointment_Time}}</span></td>
                                                <td>{{res.RM_Name}}</td>
                                                <td>{{res.Brief_Description}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="app">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Appointment No</th>
                                                <th>Appointment Date</th>
                                                <th>Sender</th>
                                                <th>Status</th>
                                                <th>Appointment Time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in approved %}
                                            <tr>
                                                <td>{{res.Document_No_}}</td>
                                                <td id="rap">{{res.Document_Type}}</td>
                                                <td>{{res.Sender_ID}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Due_Date}}</td>
                                                <td>
                                                    <a href="" class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"
                                                        style="background: #25CC88;"><i class="fa fa-table"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rejApp">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Appointment No</th>
                                                <th>Appointment Date</th>
                                                <th>Sender</th>
                                                <th>Status</th>
                                                <th>Appointment Time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in reject %}
                                            <tr>
                                                <td>{{res.Document_No_}}</td>
                                                <td id="rap">{{res.Document_Type}}</td>
                                                <td>{{res.Sender_ID}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Due_Date}}</td>
                                                <td>
                                                    <a href="" class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"
                                                        style="background: #25CC88;"><i class="fa fa-table"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="appointmentsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Appointment
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm" action="{% url 'FnBookAppointment' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="appointmentNo" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Appointment Date <span class="text-danger">*</span></label>
                            <input type="date" name="appointmentDate" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Appointment Time <span class="text-danger">*</span></label>
                            <input type="time" name="appointmentTime" class="form-control" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="myAction" value="insert">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-12">
                            <label for="purpose" class="form-label">Purpose <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="description" rows="3" required></textarea>

                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}