{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2 ">
    <div class="content-wrapper LoanWrapper" style="padding-bottom: 5rem;">
        <div class="row">
            <div class="col-md-12">
                <div class="alert bg-success mb-3" role="alert">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-check-circle">
                            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                            <polyline points="22 4 12 14.01 9 11.01"></polyline>
                        </svg>
                        <div class="px-3">
                            <h5 class="alert-heading">Hello, {{data.Full_Name}}. Your application has been received
                                and it's
                                being reviewed!</h5>
                            <p>Please Fill all the required Information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-block">
                    <!-- <button class="btn btn-primary my-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolTransportDetails"><i class="las la-plus"></i> Add School Transport
                        Details</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolCoapplicantAssets"><i class="las la-plus"></i> Add School
                        Assets</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolLiabilities"><i class="las la-plus"></i> Add School
                        Liabilities</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolCommitments"><i class="las la-plus"></i> Add School
                        Commitments</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolSecurityProvided"><i class="las la-plus"></i> Add Security
                        Provided</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolVehicleSecurity"><i class="las la-plus"></i> Add Vehicle Security
                        Details</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolProjectSecurityDetails"><i class="las la-plus"></i> Add Property
                        Security
                        Details</button> -->
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">School Name</label>
                        <input type="text" class="form-control" placeholder="{{data.Full_Name}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">KRA Pin</label>
                        <input type="text" class="form-control" placeholder="{{data.KRA_Pin}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Branch Code</label>
                        <input type="text" class="form-control" placeholder="{{data.Branch_Code}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" placeholder="{{data.Address}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="{{data.Mobile_Number}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control" placeholder="{{data.Email_Address}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Form Of Registration</label>
                        <input type="text" class="form-control" placeholder="{{data.Form_Of_Registration}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Business Company Reg No</label>
                        <input type="text" class="form-control" placeholder="{{data.Business_Company_Reg_No}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">MOEST Registration No</label>
                        <input type="text" class="form-control" placeholder="{{data.MOEST_Registration_No}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Premises</label>
                        <input type="text" class="form-control" placeholder="{{data.Premises}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">No of Teachers</label>
                        <input type="text" class="form-control" placeholder="{{data.No_of_Teachers}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Type Of Ownership</label>
                        <input type="text" class="form-control" placeholder="{{data.Type_Of_Ownership}}" readonly>
                    </div>
                </form>
            </div>
        </div> -->

        <div class="row gx-2">
            <div class="col-md-6">
                <div class="card h-100" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">School Enrollment
                        History</h4>
                    <div class="card-body">
                        <form class="myForm" action="{% url 'SchoolEnrolment' %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Academic Year <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="academicYear" id="academicYear"
                                        placeholder="2000" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12">
                                    <label class="form-label">School Population<span
                                            class="text-danger">*</span></label>
                                    <input type="text" id="schoolStrength" class="form-control" name="schoolStrength"
                                        required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <h5 class="text-primary" id="historyResult"></h5>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-successs w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">School Pass
                        Rate</h4>
                    <div class="card-body">
                        <form class="myForm" action="{% url 'SchoolPassRate' %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row gx-2">
                                <div class="col-md-6">
                                    <label class="form-label">KCPE Students<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="kcpeStudents" id="kcpeStudents"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Pass Rate<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="passRate" id="passRate" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-12">
                                    <label class="form-label">Year <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="year" id="PassYear"
                                        placeholder="2000" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-successs w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card h-100" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">School Project
                        Details</h4>
                    <div class="card-body">
                        <form class="myForm" method="post" action="{% url 'SchoolProjectDetails' %}" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Estimated Cost <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="estimatedCost" id="estimatedCost"
                                        placeholder="000.000" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Cost Type <span class="text-danger">*</span></label>
                                    <select class="form-select" name="costType" id="costType" required>
                                        <option value="0" disabled selected>--Select--</option>
                                        <option value="1">Project Cost</option>
                                        <option value="2">Owner Contribution</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <label class="form-label">Project Description <span
                                            class="text-danger">*</span></label>
                                    <textarea class="form-control" name="projectDescription" id="projectDescription"
                                        rows="5"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-successs w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card h-100" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">School
                        Revenue</h4>
                    <div class="card-body">
                        <form class="myForm" action="{% url 'FnSchoolRevenue' %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Class <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="edpClass" id="edpClass" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Streams <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="streams" id="streams" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Term One Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="termOneFees" id="termOneFees"
                                        placeholder="0000.000" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Term Two Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="termTwoFees" id="termTwoFees"
                                        placeholder="0000.000" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Term Three Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="termThreeFees" id="termThreeFees"
                                        placeholder="0000.000" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">New Student Admission <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="newStudentAdmission"
                                        placeholder="0000.000" id="newStudentAdmission" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Admission Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="admissionFees" id="admissionFees"
                                        placeholder="0000.000" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-successs w-100 my-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card h-100" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">School
                        Expenses</h4>
                    <div class="card-body">
                        <form class="myForm" action="{% url 'FnSchoolExpenses' %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Expense Head <span class="text-danger">*</span></label>
                                    <select class="form-select" name="expenseHead" id="expenseHead" required>
                                        <option value="0" disabled selected>--Select--</option>
                                        {% for res in Expense %}
                                        <option value="{{res.Code}}">{{res.Description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Monthly Expense<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="monthlyExpense" id="monthlyExpense"
                                        placeholder="0000.000" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Months<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="multiplierFactor"
                                        id="multiplierFactor" placeholder="0.0" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-successs w-100 my-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal FnSchoolTransportDetails -->
    <div class="modal fade" id="ModalFnSchoolTransportDetails" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Transport Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'FnSchoolTransportDetails' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Count<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="count" required>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Transport Description <span
                                        class="text-danger">*</span></label>
                                <textarea class="form-control" name="transportDescription" rows="5"></textarea>
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal FnSchoolCoapplicantAssets -->
    <div class="modal fade" id="ModalFnSchoolCoapplicantAssets" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Assets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'FnSchoolCoapplicantAssets' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Asset Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="assetName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Estimated Value<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="estimatedValue"
                                        placeholder="00000.000" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Asset Owner<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="assetOwner" required>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end -->
    <!-- Modal FnSchoolLiabilities -->
    <div class="modal fade" id="ModalFnSchoolLiabilities" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Liabilities</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'FnSchoolLiabilities' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">Name of Borrower<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="nameofborrower" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">Bank Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="bankName" placeholder="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">Loan Amount <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="loanAmount" placeholder="0000.00"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">Loan Balance <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="loanBalance" placeholder="0000.00"
                                        required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Expected Monthly Instalment <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="expectedMonthlyInstalment"
                                        placeholder="0000.00" required>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-1">
                            <div class="col-md-8">
                                <div class="mb-2">
                                    <label class="form-label">Loan Tenure <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="loanTenure" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-2">
                                    <label class="form-label">Tenure Period <span class="text-danger">*</span></label>
                                    <select class="form-select" name="TenurePeriod" required>
                                        <option value="" disabled selected>--Select--</option>
                                        <option value="m">Month(s)</option>
                                        <option value="y">Year(s)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-1">
                            <div class="col-md-8">
                                <div class="mb-2">
                                    <label class="form-label">Balance Tenure <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="balanceTenure" placeholder=""
                                        required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-2">
                                    <label class="form-label">Tenure Period <span class="text-danger">*</span></label>
                                    <select class="form-select" name="TenureBalancePeriod" required>
                                        <option value="" disabled selected>--Select--</option>
                                        <option value="m">Month(s)</option>
                                        <option value="y">Year(s)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end -->
    <!-- Modal FnSchoolCommitments -->
    <div class="modal fade" id="ModalFnSchoolCommitments" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Commitments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'FnSchoolCommitments' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Product Name <span class="text-danger">*</span></label>
                                <select class="form-select" name="nameOfProduct">
                                    <option value="" disabled selected>--Select--</option>
                                    {% for res in loanProducts %}
                                    <option value="{{res.Code}}">{{res.Description}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Monthly Commitment<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="monthlyCommitment"
                                        placeholder="0000.000" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Annual Commitment <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="annualCommitment"
                                        placeholder="0000.00" required>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end -->
    <!-- Modal FnSchoolSecurityProvided -->
    <div class="modal fade" id="ModalFnSchoolSecurityProvided" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Security Provided</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'FnSchoolSecurityProvided' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Type Of Security <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="typeOfSecurity" required>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <label class="form-label">Available <span class="text-danger">*</span></label>
                                <select class="form-select" name="available" required>
                                    <option value="" disabled selected>--Select--</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end -->
    <!-- Modal FnSchoolVehicleSecurity -->
    <div class="modal fade" id="ModalFnSchoolVehicleSecurity" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Vehicle Security</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'FnSchoolVehicleSecurity' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Registration No <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="registrationNo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Owner Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="ownerName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Year Of Manufacture <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="yearOfManufacture">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <label class="form-label">Approximate Value<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="approximateValue" placeholder="0000.000">
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end -->
    <!-- Modal FnSchoolProjectSecurityDetails -->
    <div class="modal fade" id="ModalFnSchoolProjectSecurityDetails" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Property Security Details </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="myForm" action="{% url 'FnSchoolProjectSecurityDetails' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Property Security Details <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="propertySecurityDetails">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" name="description" rows="5"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}