{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}

<section>
    <div class="content-wrapper">
        <div class="row py-3" id="proBanner">
            <div class="col-md-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="180px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold" style="margin-left: auto;margin-right:0;"> Overview dashboard
                    </h2>
                </span>

            </div>
        </div>
        {% if stage == 'Lead' %}
        {% include 'main/lead.html' %}

        {% elif stage == 'Potential' %}

        {% include 'main/documentation.html' %}

        {% elif stage == 'Applicant' %}
        {% include 'main/application.html' %}
        {% else %}
        <div class="row py-3 gx-2">
            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                <div class="card l-bg-green-dark">
                    <div class="card-body text-center">
                        <h5 class="mb-2 text-dark font-weight-normal">Number of Students</h5>
                        <h2 class="mb-4 text-dark font-weight-bold">93200</h2>
                        <div class="iconKard mx-auto text-center">
                            <i class="mdi mdi-human-male-female icon-md absolute-center text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card ">
                <div class="card l-bg-orange-dark">
                    <div class="card-body text-center">
                        <h5 class="mb-2 text-dark font-weight-normal">Number of Teachers</h5>
                        <h2 class="mb-4 text-dark font-weight-bold">75</h2>
                        <div class="iconKard mx-auto text-center">
                            <i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                <div class="card l-bg-blue-dark ">
                    <div class="card-body text-center">
                        <h5 class="mb-2 text-dark font-weight-normal">Average School Income</h5>
                        <h2 class="mb-4 text-dark font-weight-bold">Kshs 100380</h2>
                        <div class="iconKard mx-auto text-center">
                            <i class="mdi mdi-wallet icon-md absolute-center text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                <div class="card l-bg-orange-dark">
                    <div class="card-body text-center">
                        <h5 class="mb-2 text-dark font-weight-normal">Number of Students</h5>
                        <h2 class="mb-4 text-dark font-weight-bold">42 Days</h2>
                        <div class="iconKard mx-auto text-center">
                            <i class="mdi mdi-chart-bar-stacked icon-md absolute-center text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-12 mb-2">
                <div class="card card-danger-gradient">
                    <div class="card-body mb-4">
                        <div class="card p-3" style="background: #eaebeb;">
                            <div class="card-title text-dark">
                                <h6>Loan Management</h6>
                            </div>
                            <div class="card-body">
                                <canvas id="myChart"></canvas>
                            </div>
                            <script>
                                const labels = [
                                    'Open Loans',
                                    'Loans Pending Approval',
                                    'Rejected Loans',
                                ];
                                var Approved_Leave = '{{leave_app}}'
                                var App_Train = '{{app_train}}'
                                var APP_Imprest = '{{imprest_app}}'
                                const data = {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Loans',
                                        backgroundColor: [
                                            '#04fb14',
                                            '#3c3c3c',
                                            '#048383',
                                        ],
                                        data: [Approved_Leave, App_Train, APP_Imprest, ],
                                    }]
                                };

                                const config = {
                                    type: 'bar',
                                    data: data,
                                    options: {}
                                };
                            </script>
                            <script>
                                const myChart = new Chart(
                                    document.getElementById('myChart'),
                                    config
                                );
                            </script>
                        </div>
                    </div>
                    <div class="card-body bg-white pt-2">
                        <div class="row pt-2">
                            <div class="col-sm-3">
                                <div class="border-right border-md-0">
                                    <h4>Loan Balance</h4>
                                    <h1 class="text-dark font-weight-bold mb-md-3">$306</h1>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="border-right border-md-0">
                                    <h4>Amount due</h4>
                                    <h1 class="text-dark font-weight-bold mb-md-3">$306</h1>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="border-right border-md-0">
                                    <h4>Next Due Date</h4>
                                    <h1 class="text-dark font-weight-bold mb-md-3">22-01-2023</h1>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="">
                                    <h4>No. of Days in Arrears</h4>
                                    <h1 class="text-dark font-weight-bold">20</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</section>

<script>
    let url = `ws://${window.location.host}/ws/socket-server/`
    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if (data.type === 'chat') {
            let message = document.getElementById('messages')

            message.insertAdjacentHTML('beforeend', `<div>
                <p>${data.message}</p></div>`)
        }
    }

    let form = document.getElementById('form')

    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value;

        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })
</script>

{% endblock %}