<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success l-bg-original" role="alert">
            <h4 class="alert-heading">Hello, School Name</h4>
            <p>
                Your application has been received and it's being reviewed.

                We have assigned you a Relationship Manager(RM).
            </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary RMBtn" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                View RM <i class="las la-address-card"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Relationship Manager Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mx-auto text-center">
                                <img src="../../../static/img/logo/pp.png" class="img-fluid" alt="" srcset=""
                                    style="height: 100px; width:100px;border-radius:50%">
                            </div>
                            <form class="row">
                                <div class="col-md-6">
                                    <label class="form-label">RM Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">RM Contact No </label>
                                    <input type="text" class="form-control" placeholder="+254700000000" readonly>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">RM Email</label>
                                    <input type="text" class="form-control" placeholder="johndoe@gmail.com" readonly>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"><i class="las la-plus"></i> Create Appointment
                                <i class="las la-calendar-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="mb-0">Make Document Attachment</h5>
            <div class="card p-3 my-3">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Attachment <span class="text-danger">*</span></label>
                            <select class="form-select" name="">
                                <option class="after" value="" disabled selected>--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">File <span class="text-danger">*</span></label>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button text-info" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            My Attachments
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="inbox-wid list-unstyled">
                                {% for response in file %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="attachmentID" value="{{response.AuxiliaryIndex2}}">
                                    <input type="hidden" name="File_Name" value="{{response.File_Name}}">
                                    <input type="hidden" name="File_Extension" value="{{response.File_Extension}}">
                                    <li class="inbox-list-item">
                                        <button type="submit" data-toggle="tooltip" data-placement="top"
                                            title="Click to Download">
                                            <div class="media" style="display: flex;">
                                                <div class="media-body">
                                                    <h5 class="font-size-16 mb-1">
                                                        <i class="fas fa-download me-2 text-success"></i>
                                                        {{response.File_Name}}.{{response.File_Extension}}
                                                    </h5>
                                                </div>
                                            </div>
                                        </button>
                                    </li>
                                    <hr style="margin-top:-.5rem">
                                </form>
                                {% empty %}
                                <p class="text-danger">
                                    You have not attached any document<i class="las la-file-download"></i>
                                </p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var Coordinates = '{{Coordinates}}'
            console.log(Coordinates)
            detailUrl = 'https://maps.google.com/maps?q=' + Coordinates +
                '&t=&z=13&ie=UTF8&iwloc=&output=embed';
            $("#gmap_canvas").attr('src', detailUrl);
        });
    </script>