{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="150px" class="img-fluid" alt="" srcset="">
                    <h3 class="p-3" style="margin-left: auto;margin-right:0;">Profile Information</h3>
                </span>

            </div>
        </div>
        <!--alert -->
        <div class="row">
            <div class="col-xl-4">

                <div class="card h-100">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="../../static/img/logo/pp.png" alt="Profile" class="rounded-circle">
                        <h2>{{full}}</h2>
                        <h3>{{Mobile_Number}}</h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card h-100">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Profile Details</h5>

                                <div class="row my-2">
                                    <div class="col-md-6 label">School Name</div>
                                    <div class="col-md-6"><span class="text-primary">{{full}}</span>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-md-6 label">Member Number</div>
                                    <div class="col-md-6"><span class="text-primary">{{MemberNo}}</span></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 label">KRA Pin</div>
                                    <div class="col-md-6"><span class="text-primary">{{KRA_Pin}}</span></div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-md-6 label">Branch Name</div>
                                    <div class="col-md-6"><span class="text-primary">{{Branch_Code}}</span>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-md-6 label">Membership Status</div>
                                    <div class="col-md-6"><span class="text-primary">{{Membership_Status}}</span></div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-md-6 label">MOEST Registration No</div>
                                    <div class="col-md-6"><span class="text-primary">{{MOEST_Registration_No}}</span>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-md-6 label">Email</div>
                                    <div class="col-md-6"><span class="text-primary">{{CustomerEmail}}</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock %}