{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<style>
    .contt {
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: whitesmoke;
    }

    .file-man-box {
        padding: 20px;
        border: 1px solid #e3eaef;
        border-radius: 5px;
        position: relative;
        margin-bottom: 20px;
        display: none;
    }

    .file-man-box .file-close {
        color: #f1556c;
        position: absolute;
        line-height: 24px;
        font-size: 24px;
        right: 10px;
        top: 10px;
        visibility: hidden
    }

    .file-man-box .file-img-box {
        line-height: 120px;
        text-align: center
    }

    .file-man-box .file-img-box img {
        height: 64px
    }

    .file-man-box .file-download {
        font-size: 30px;
        color: #98a6ad;
        position: absolute;
        bottom: 5px;
        right: 1px;
        background: none;
        border: none;
    }

    .file-man-box .file-download:hover {
        color: #313a46
    }

    .file-man-box .file-man-title {
        padding-right: 15px
    }

    .file-man-box:hover {
        -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
    }

    .file-man-box:hover .file-close {
        visibility: visible
    }

    .text-overflow {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    h5 {
        font-size: 14px;
    }

    .data-card {
        border-radius: 0.5em;
        background: rgb(248, 248, 248);
        padding: 2.75em 2.5em;
        box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
        transition: transform 0.45s ease, background 0.45s ease;
        border: none;
    }

    .display-5 {
        color: #627084;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 0 0 1.777777778em;
        transition: color 0.45s ease;
    }

    .data-card:hover h1 {
        color: #008080;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">

    <div class="content-wrapper general-bg" style="padding-bottom: 22rem;" id="results">
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body data-card">
                    <h1 class="heading display-5 pb-3">Loan Calculator</h1>
                    <div class="row">
                        <div class="col-md-9">
                            <form method="POST" id="Loan_Calculator">
                                {% csrf_token %}
                                <div class="row my-2">
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Calculator Type</label>
                                        <select class="form-select" name="calculatorType" id="calculatorType" required>
                                            <option value="0" disabled selected>--Select Calculator Type--</option>
                                            <option value="1">Instalment From Requested Amount</option>
                                            <option value="2">Qualifying Amount From Proposed Instalment</option>
                                            <option value="3">Eligibility Calculator</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Loan Product</label>
                                        <select class="form-select" name="loanType" id="loanType" required>
                                            <option value="0" disabled selected>--Select Loan Product--</option>
                                            {% for res in loanProducts %}
                                            <option value="{{res.Code}}">{{res.Description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <label for="" class="form-label">Loan Amount</label>
                                        <input type="number" class="form-control" id="requestedAmount"
                                            name="requestedAmount" placeholder="Loan Amount" />
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-6">
                                        <label class=" form-label">Disbursement Date<span
                                                class="text-danger">*</span></label>
                                        <input type="date" class="form-control" name="disbursementDate"
                                            id="disbursementDate" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Repayment Start Date<span
                                                class="text-danger">*</span></label>
                                        <input type="date" class="form-control" name="repaymentStartDate"
                                            id="repaymentStartDate" required>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-dark btn-block my-2" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <h6 class="text-primary">
                                Monthly Repayment (KES)
                            </h6>
                            <h1 class="text-primary" id="proOutput" style="font-size: 2.8rem;">
                                0.00
                            </h1>
                            <div class="money-spinner" id="money-spinner" style="display: none;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                                    alt="Loading Gif" style="height: 100px;" class="img-fluid">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="text-primary my-3">
                                        Calculator Schedule Report
                                    </h6>
                                    <div class="file-man-box" id="fileMan">
                                        <span class="file-close" id="file-close"><i
                                                class="fa fa-times-circle"></i></span>
                                        <div class="file-img-box"><img
                                                src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/pdf.svg"
                                                alt="icon"></div>
                                        <form action="{% url 'FnCalculatorScheduleReport' %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="file-download"><i
                                                    class="fa fa-download"></i></button>
                                        </form>

                                        <div class="file-man-title">
                                            <h5 class="mb-0 text-overflow">ScheduleReport.pdf</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).on('submit', '#Loan_Calculator', function (e) {
        e.preventDefault();
        $('#money-spinner').show();
        $.ajax({
            type: 'POST',
            url: '{% url "Loan_Calculator" %}',
            data: {
                calculatorType: $("#calculatorType").val(),
                loanType: $("#loanType").val(),
                requestedAmount: $("#requestedAmount").val(),
                disbursementDate: $("#disbursementDate").val(),
                repaymentStartDate: $("#repaymentStartDate").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                $("#calculatorType").val("")
                $("#loanType").val("")
                $("#requestedAmount").val("")
                $("#disbursementDate").val("")
                $("#repaymentStartDate").val("")
                var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);
                var AmountWithCommas = response.toLocaleString();
                var arParts = String(AmountWithCommas).split(DecimalSeparator);
                var intPart = arParts[0];
                var decPart = (arParts.length > 1 ? arParts[1] : '');
                decPart = (decPart + '00').substr(0, 2);
                $("#proOutput").empty().append(intPart + DecimalSeparator + decPart);
                $('#money-spinner').hide();
                $("#fileMan").show(500);
            }
        })

    });
    $(document).ready(function () {
        $('#file-close').click(function () {
            $("#fileMan").toggle(500);
        })
    })
</script>
{% endblock %}