{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Loan Details </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn btn-successs p-3 d-flex align-items-center" type="button" data-bs-toggle="modal"
                        data-bs-target="#Attachment"> <i class="fas fa-upload mr-1"></i> Upload Attachment
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary my-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"><i class="las la-plus"></i> Add School Enrollment
                        History</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add School Pass
                        Rate</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add School Project
                        Details</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolLoanRevenue"><i class="las la-plus"></i> Add School
                        Revenue</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#ModalFnSchoolLoanExpenses"><i class="las la-plus"></i> Add School
                        Expenses</button>
                    <button class="btn btn-primary my-2" type="button"><i class="las la-plus"></i> Add School Transport
                        Details</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add School Assets</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add School
                        Liabilities</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add School
                        Commitments</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add Security
                        Provided</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add Vehicle Security
                        Details</button>
                    <button class="btn btn-primary" type="button"><i class="las la-plus"></i> Add Property Security
                        Details</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Testing</label>
                        <input type="text" class="form-control" placeholder="Testing" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Testing</label>
                        <input type="text" class="form-control" placeholder="Testing" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Testing</label>
                        <input type="text" class="form-control" placeholder="Testing" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Testing</label>
                        <input type="text" class="form-control" placeholder="Testing" readonly>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Testing</label>
                        <input type="text" class="form-control" placeholder="Testing" readonly>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">School Enrollment
                        History</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">School Name</th>
                                    <th>School Detail A</th>
                                    <th>School Detail B</th>
                                    <th>School Detail C</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kenya High</td>
                                    <td>Detail X</td>
                                    <td>Detail Y</td>
                                    <td>Detail Z</td>
                                    <td>
                                        <form action="" method="post" style="display: inline-block;">
                                            {% csrf_token %}
                                            <input type="hidden" name="lineNo" value="{{res.Line_No}}">
                                            <button type="submit" class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 pb-3">
            <div class="d-grid gap-2 d-md-block">
                <div style="display: inline-block;">
                    <form id="myForm" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 my-2">
                                    <input type="hidden" class="form-control" name="entryNo" value="{{res.Entry_No_}}">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-successs" type="submit">Submit
                            Application <i class="las la-angle-double-right"></i></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Enrollment History</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="myForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class=" mb-3">
                            <label class="form-label">Attachments</label>
                            <input class="form-control" name="attachment" type="file" multiple>
                        </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal FnSchoolRevenue -->
    <div class="modal fade" id="ModalFnSchoolLoanRevenue" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Revenue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'FnSchoolLoanRevenue' %}" method="post"
                        novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Class <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="edpClass" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Streams <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="streams" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Term One Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="termOneFees" placeholder="0000.000"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Term Two Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="termTwoFees" placeholder="0000.000"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Term Three Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="termThreeFees" placeholder="0000.000"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">New Student Admission <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="newStudentAdmission"
                                        placeholder="0000.000" required>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Admission Fees <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="admissionFees" placeholder="0000.000"
                                        required>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- Modal FnSchoolLoanExpenses -->
    <div class="modal fade" id="ModalFnSchoolLoanExpenses" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">School Expenses</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'FnSchoolLoanExpenses' %}" method="post"
                        novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Expense Head <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="expenseHead" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Monthly Expense<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="monthlyExpense" placeholder="0000.000"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <div>
                                    <label class="form-label">Multiplier Factor<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="multiplierFactor" placeholder="0.0"
                                        required>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $("#approveBtn").click(function () {
            $("#approvalForm").toggle(500)
        })
    })
</script>
{% endblock %}