{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<style>
    .contt {
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: whitesmoke;
    }

    .display-5 {
        color: #627084;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 0 0 1.777777778em;
        transition: color 0.45s ease;
    }

    .data-card:hover h1 {
        color: #008080;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="../../static/js/currency.js"></script>
<section class="dash2">

    <div class="content-wrapper general-bg" style="padding-bottom: 22rem;" id="results">
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body data-card">
                    <h1 class="heading display-5 pb-3">Loan Repayment</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example"
                                class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                style="width:100%">
                                <thead>
                                    <tr id="tops">
                                        <th id="long">Loan No</th>
                                        <th>Total Payable (KES)</th>
                                        <th>Interest Accrued (KES)</th>
                                        <th>Due Date</th>
                                        <th>Day in Arrears</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for res in loans %}
                                    <tr>
                                        <td>{{res.Loan_Number}}</td>
                                        <td>{{res.Total_Payable_Amount}}</td>
                                        <td>{{res.Interest_Accrued_Buffer}}</td>
                                        <td>{{res.Due_Date}}</td>
                                        <td>{{res.Days_in_Arrears}}</td>
                                        <td>
                                            <a href="{% url 'PaymentGateway' res.Loan_Number %}"
                                                class="btn btn-success btn-icon-text" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Continue"
                                                style="background: #25CC88;"> Pay {{res.Total_Payable_Amount}} <i
                                                    class="las la-angle-double-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}